* { margin: 0; padding: 0; outline: none; font-size: 14px; font-family: "PingFang SC", "Microsoft YaHei", sans-serif; }
a { text-decoration: none; }
a:active, a:hover { outline: 0; }
.font12 { font-size: 12px; }
li { list-style:none; }
/* scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius: 4px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
  box-shadow:inset006pxrgba(0,0,0,0.5);
  background:rgba(0,0,0,0.1);
  border-radius:4px;
  cursor: pointer;
}
.abs { position: absolute; }
.huidu { overflow: hidden; }
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.ellipsis3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
