.base-pop {
  position: fixed; top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1001;
}
.base-pop::before {
  content: ' ';
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0.7; background: #000;
}
/* 搜索弹出层样式 */
.popblack {
  position: fixed;
  top: 0; left: -164px; right: 0; bottom: 0;
  background: #000;
  opacity: 0.3;
  z-index: 10;
}
.searchPop, .searchTable, .searchTableSelect {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 374px;
  padding-bottom: 16px;
  background: #fff;
  border-radius: 8px;
  border: solid 1px #e8edfa;
  z-index: 10;
  .popSearch {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    .el-input { margin-right: 10px; width: 200px; }
    .el-button { margin-right: 10px; }
  }
  .no-card3 {
    flex: 1;
    width: 100%;
    position: relative;
  }
  .poptitle {
    width: 100%;
    height: 36px;
    background: #216de8;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: relative;
    color: #fff;
    a {
      position: absolute;
      width: 36px;
      height: 36px;
      right: 0; top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .popone {
    padding: 17px 0 0 0;
    width: 350px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    float: left;
    .text {
      color: #333;
      width: 100px;
      text-align: right;
      margin-right: 15px;
      line-height: 30px;
    }
    .text::before {
      content: '* ';
      color: #ff7f5b;
    }
    .el-input, .el-select, .el-date-editor {
      width: auto;
      flex: 1;
      .el-input__icon, .el-range-separator {
        line-height: 22px !important;
      }
    }
    .line-one {
      position: relative;
      display: flex;
      &.warn {
        height: 70px;
        margin-bottom: 0;
        .el-input input,.el-select input {
          border: solid 1px #ff9476;
          box-shadow: 0 0 5px 0 rgba(255, 148, 118, 0.75);
        }
        .el-input__inner {
          border: solid 1px #ff9476;
          box-shadow: 0 0 5px 0 rgba(255, 148, 118, 0.75);
        }
      }
      .warning {
        position: absolute;
        top: 30px;
        left: 115px;
        height: 40px;
        line-height: 40px;
        color: #ff7f5b;
      }
      .warning:before {
        content: '* ';
        color: #ff7f5b;
      }
    }
  }
  .popbtn {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    a {
      width: 80px;
      height: 30px;
      border-radius: 15px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.cancel {
        background: #bbb;
        border: solid 1px #b4b2b2;
      }
      &.cancel:hover {
        background: #ababab;
        border: solid 1px #a0a0a0;
      }
      &.confirm {
        background: #216de8;
        border: solid 1px #216de8;
        margin-right: 30px;
      }
      &.confirm:hover {
        background: #216de8;
        border: solid 1px #216de8;
      }
    }
  }
}
.searchPop2 {
  width: 748px;
  .poplist {
    width: 100%;
    .popone {
      float: left;
    }
  }
}