<template>
  <div class="home">
    <span
      class="middle"
      @click="test">Blog正在搭建中。。。</span>
  </div>
</template>

<script>

export default {
  name: 'HomeIndex',
  methods: {
    test() {
      this.$element.setMessageInfo('success', '欢迎来到疾风博客');
    },
  },
};
</script>

<style lang="less" scoped>
.home {
  text-align: center;
  span {
    color: #f90;
    cursor: pointer;
    font-size: 48px;
  }
}
</style>
