<template>
  <div class="base-pop">
    <div :class="['middle', 'messageBox', params.mtype]">
      <img
        class="ico"
        :src="require(`@/assets/pop/${params.mtype}.png`)" />
      <div class="info ellipsis3">{{ params.minfo }}</div>
      <div class="btn">
        <span
          :class="['box-sizing', params.mtype]"
          @click="submit">确定</span>
        <span
          v-if="params.mtype === 'confirm'"
          class="box-sizing cancel"
          @click="cancel">取消</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MessageBox',
  props: {
    params: {
      type: Object,
      default: {
        mtype: 'success', // 弹出层类型 success,error,confirm
        minfo: '提示信息',
        isback: false, // 是否返回上一页
        func: null,
        funcCancel: null,
      },
    },
  },
  methods: {
    cancel() {
      this.$emit('on-message-cancel', this.params.funcCancel);
    },
    submit() {
      if (this.params.mtype === 'confirm') {
        this.$emit('on-message-confirm', this.params.func);
      } else {
        this.$emit('on-message-submit', this.params.isback, this.params.func);
      }
    },
  },
};
</script>

<style lang="less" scoped>
.messageBox {
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  border: solid 1px #e8edfa;
  box-shadow: 0 0 5px 0 rgba(231, 237, 249, 0.75);
  .ico {
    width: 108px;
    height: 108px;
    margin-top: 35px;
  }
  .info {
    text-align: center;
    margin: 27px 5% 0;
    color: #666;
    width: 90%;
  }
  .btn {
    margin: 35px 0 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      width: 80px;
      height: 30px;
      line-height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 15px;
      cursor: pointer;
      &.success {
        background: #216de8;
        border: solid 1px #216de8;
      }
      &.success:hover {
        background: #216de8;
        border: solid 1px #216de8;
      }
      &.error, &.confirm {
        background-color: #ff9476;
        border: solid 1px #ff7f5b;
      }
      &.error:hover, &.confirm:hover {
        background-color: #ff7f5b;
        border: solid 1px #f16a44;
      }
      &.cancel {
        margin-left: 30px;
        background-color: #bbbbbb;
        border: solid 1px #b4b2b2;
      }
      &.cancel:hover {
        background-color: #ababab;
        border: solid 1px #a0a0a0;
      }
    }
  }
}
</style>
