<template>
  <div class="not-found">
    <div class="middle">
      <a href="/home/index">
        <img
          width="500"
          src="@/assets/404.jpg">
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
};
</script>

<style lang="less" scoped>
.not-found {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #65c7c8;
  overflow: hidden;
}
</style>
