<template>
  <div id="app">
    <router-view/>
    <!-- 消息提示 -->
    <message-box
      v-if="messageFlag"
      :params="messageInfo"
      @on-message-cancel="messageCancel"
      @on-message-submit="messageSubmit"
      @on-message-confirm="messageConfirm" />
  </div>
</template>

<script>
import globalMixin from '@/mixins/global';

export default {
  name: 'App',
  mixins: [
    globalMixin,
  ],
  created() {
    this.getStatus();
  },
  methods: {
    async getStatus() {
      const res = { version: '1.0.0' };
      this.$store.commit('SET_VERSION', res.version);
      this.setHtmlTitle(`个人博客v${res.version}`);
    },
  },
};
</script>
